
<ng-container *ngIf="message.type=='out';else templateOut">
   <li class="flex justify-end" >
    <div class="relative max-w-xl px-4 py-2 text-lg  bg-white rounded shadow">
      <span class="block" [innerHTML]="message.message"></span>
    </div>
  </li>
</ng-container>
<ng-template #templateOut>
     <li class="flex justify-start">
    <div class="relative max-w-xl px-4 py-2 text-lg  bg-gray-300 text-gray-700 rounded shadow ">
      <span class="block" [innerHTML]="message.message"></span>
    </div>
  </li>
</ng-template>


