<div class="p-8 w-[1050px] bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-between items-center mb-4">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">List of Friends</h5>
   </div>
   <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4" *ngFor="let user of friendList">
                <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                        <img class="mb-3 w-10 h-10 rounded-full shadow-lg" src={{user.imageBasePath}}  alt="User image"/>
                    </div>
                    <div class="flex-1 min-w-0">
                        
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            {{user.name}}
                        </p>
                    </div>
                    <div class="">
                        <a [routerLink]="['../profil', user.name]" class="p-2 lg:px-4 md:mx-2 text-white rounded bg-indigo-600">Profil</a>
                    </div>
                </div>
            </li>
        </ul>
   </div>
</div>