<div class="chat" >
    <div class="header" fxLayoutAlign="space-between center">
        <div  fxLayoutAlign="start center" class="head">
            <ng-container>
                <avatar [name]="selectedUser"></avatar>
                <div class="about">
                    <div class="chat-with">Chat with <b>{{ selectedUser}}</b></div>
                </div>
            </ng-container>
        </div>
        <div>
            <a *ngIf="!demandsend" [routerLink]="[]" (click)="sendInvitation()" class="p-2 lg:px-4 md:mx-2 text-white rounded bg-pink-500">Add</a>
            <a [title]="selectedUser" [routerLink]="['../profil', selectedUser]" class="p-2 lg:px-4 md:mx-2 text-white rounded bg-indigo-600">Profil</a>
        </div>
    </div>
    <ng-container>
        <div class="chat-history">
            <ul>
                <li *ngFor="let item of messages[selectedUser]">
                    <message [message]="item"></message>
                </li>
            </ul>
        </div>
    </ng-container>
 
 
    <form [formGroup]="form" class="footer"  fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field appearance="outline" fxFlex class="no-padding" > 
            <mat-label>Type your message</mat-label>
            <textarea matInput formControlName="message" placeholder="type..."></textarea>
        </mat-form-field>
        <button mat-icon-button (click)="sendMessage()" >
            <mat-icon size="52">send</mat-icon>
        </button>
    </form>

  
</div>
