<!-- Map -->
<div class="my-google-map">
  

     <input #mapSearchField type="search" placeholder="Enter an address"/>
        
    <google-map [width]="null" [height]="null" [center]="center" [options]="mapOptions" >
        <map-marker #marker="mapMarker" *ngFor="let user of  userList; let i = index"
            [position]="{ lat: user.Latitude, lng: user.Longitude }" (mapClick)="openInfoWindow(marker, i)">

            <map-info-window>
               <p><b>{{ user.Firstname }}</b>, {{ user.Lastname}}</p> 
               <p><b>Gender : </b>{{ user.Genre}}</p> 
            </map-info-window>
        </map-marker>


    </google-map>
</div>