
<div class="sidebar__content">
    <div class="flex flex-col items-center pb-10">
        <img class="mb-1 w-24 h-26 rounded-full shadow-lg" src={{User?.imageBasePath}}  alt=""/>
        <h5 class="mb-1 text-xl font-bold text-gray-900 dark:text-white">{{User?.login}}</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">{{User?.firstname+" "+User?.lastname}}</span>
      
        <div class="ml-4 flex flex-col mt-2">
            <a [routerLink]="['demands']" class="link mt-1 text-blue-800">
                List of Demands
            </a>
            <a [routerLink]="['friends']" class="link  mt-1 text-blue-800">
                List of Friends
            </a>
            <a [routerLink]="['events']" class="link  mt-1 text-blue-800">
                List of Events
            </a>
        </div>
          <div class="flex mt-1 space-x-3 lg:mt-2">
            <a  [routerLink]="['event']"class="p-2 lg:px-4 md:mx-2 text-pink-600 text-center border border-solid border-pink-600 rounded hover:bg-pink-600 hover:text-white transition-colors duration-300 mt-1 md:mt-0 md:ml-1">+ .Event</a>     
        </div>
    </div>
   
