.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 705px;
    position: relative;
    box-shadow: 0px 4px 15px 0 rgb(0 0 0 / 24%), 0 0px 15px 0 rgb(0 0 0 / 19%);

    border-radius: 5px;
    overflow: hidden;
  }
  
    .form-header {
      padding: 25px 50px;
      background:#fff;
      h2 , p {
        color: #000000;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
      }
    
    }
  
  
      .form-container {
        padding: 50px;
        background-color: #fff;
    
        .toggle-secured {
          padding-bottom: 1.34375em;
        }
    
        .sign-in {
          min-height: 48px;
          min-width: 150px;
        }
    
        .message-error {
            color: rgb(228, 0, 0);
            font-weight: 500;
            text-align: right;
        }
      }
  
  app-login {
    height: 100%;
  }
  
  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  
  .myform-wrapper {
    margin: 50px;
    width: 350px;
    .mat-form-field { width: 100%;
  }
  .mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
    button { width: 30%;
  }
  } 
    } 
      #fileUpload {
        position: absolute;
        z-index: 9;
        opacity: 0;
        height: 100%;
        width: 100%;
        left: 0px;
        top: 0px;
        cursor: pointer;
      }
    
  