.dashboard__wrapper {
    display: flex;
    justify-content: space-between;
    .sidebar {
        &__left {
            width: 350px;
        }
        &__right {
            width: 15%;
        }
    }
    .dashboard__content {
        width: 55%;
        padding: 20px;
        margin-left: -170px;
    }
}